.u-transition-ease-slow {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.tituloMateria {
  margin-left: 20px;
  margin-top: 20px;
}
.logoPreto {
  height: 50px;
  width: 150px;
  margin-right: 20px;
  margin-top: 15px;
}
.o-box-conteudo {
  display: flex;
}
.o-box-conteudo .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25.21%;
  margin-bottom: 30px;
  border-radius: 10px;
  margin-left: 6.17%;
  background-color: #0059C8;
  color: #fff;
  min-height: 180px;
}
.o-box-conteudo .card h3 {
  font-size: 18px;
  font-family: 'OpenSans-Bold';
  padding: 0;
  margin: 0;
}
.o-box-conteudo .card:hover {
  text-decoration: none;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 1px #0059c8;
  -moz-box-shadow: 0px 0px 30px 1px #0059c8;
  box-shadow: 0px 0px 30px 1px #0059c8;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.o-box-conteudo .card.add {
  background-color: #282544;
}
.o-box-conteudo .card.add h3 {
  font-size: 24px;
  font-family: 'RobotoCondensed-Bold';
}
.o-box-conteudo .card.add:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 30px 1px #282544;
  -moz-box-shadow: 0px 0px 30px 1px #282544;
  box-shadow: 0px 0px 30px 1px #282544;
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.div-wrapper {
  margin-right: 6.17%;
  margin-left: 6.17%;
}
.div-wrapper img {
  position: absolute;
  bottom: 50px;
  width: 88%;
  border-radius: 15px;
}
.div-wrapper img:hover {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  box-shadow: 0px 0px 30px 1px #0059c8;
}
.adicionar_texto {
  display: inline-block;
}
