@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
.o-menu {
  position: relative;
  width: 20%;
  height: 100vh!important;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 35%;
}
.o-menu .logo {
  padding: 15px 50px 15px 10px!important;
}
.o-menu .nav-link {
  color: #fFFF;
}
.o-menu .nav-link:hover,
.o-menu .nav-link:active {
  background-color: #F95A10;
  color: #fFFF;
  font-family: 'Roboto Condensed', sans-serif !important;
}
.o-menu .nav-link svg {
  margin-right: 15px;
}
.o-menu-right {
  position: relative;
  width: 20%;
  height: 100vh!important;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 35%;
}
.o-menu-right .logo {
  padding: 15px 50px 15px 10px!important;
}
.o-menu-right .nav-link {
  color: #fFFF;
}
.o-menu-right .nav-link:hover,
.o-menu-right .nav-link:active {
  background-color: #F95A10;
  color: #fFFF;
  font-family: 'Roboto Condensed', sans-serif !important;
}
.o-menu-right .nav-link svg {
  margin-right: 15px;
}
.bg-color {
  background-color: #282544;
  color: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  left: 0;
  z-index: 20;
}
.botao-sair {
  width: 100%;
  bottom: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  list-style: none;
  padding-bottom: 40px;
  position: absolute;
}
.borderimg {
  padding: 0;
  width: 100%;
  margin-right: 20px;
  margin-left: 15px;
  border: 6px solid #FFFFFF;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.AvatarTexto a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
