.u-transition-ease-slow {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.o-scroll {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.o-scroll::-webkit-scrollbar,
.o-scroll::-moz-scrollbar {
  width: 11px;
}
.o-scroll.o-purple {
  scrollbar-color: #282544 #F9F9F9;
}
.o-scroll.o-purple::-webkit-scrollbar-track,
.o-scroll.o-purple::-moz-track {
  background: #F9F9F9;
}
.o-scroll.o-purple::-webkit-scrollbar-thumb,
.o-scroll.o-purple::-moz-thumb {
  background-color: #282544;
  border-radius: 6px;
  border: 3px solid #F9F9F9;
}
.o-scroll.o-blue {
  scrollbar-color: #3185FC #ffffff;
}
.o-scroll.o-blue::-webkit-scrollbar-track,
.o-scroll.o-blue::-moz-track {
  background: #3185FC;
}
.o-scroll.o-blue::-webkit-scrollbar-thumb,
.o-scroll.o-blue::-moz-thumb {
  background-color: #3185FC;
  border-radius: 6px;
  border: 3px solid #fff;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url('fonts/RobotoCondensed-Bold.ttf');
  font-weight: 900;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url('fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('fonts/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: "Montserrat-Light";
  src: url('fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url('fonts/Montserrat-Bold.ttf');
}
.o-relative {
  position: relative;
}
p {
  font-size: 24px;
  font-family: "Montserrat-Light";
}
.o-row {
  display: flex;
  flex-wrap: wrap;
}
.o-espaco-padrao {
  padding: 5% 0;
}
.o-img {
  width: 100%;
}
.u-pr-5 {
  padding-right: 5%;
}
#root {
  background-color: #ffffff;
}
.o-p {
  padding: 0;
}
.o-pt-0 {
  padding-top: 0;
}
.pb-5x {
  padding-bottom: 5px;
}
.o-pt-2 {
  padding-top: 2% !important;
}
.o-pb-2 {
  padding-bottom: 2% !important;
}
.o-pb-5 {
  padding-bottom: 5% !important;
}
.o-ml-5 {
  margin-left: 5% !important;
}
.o-ml-6 {
  margin-left: 6% !important;
}
.o-mr-5 {
  margin-right: 5% !important;
}
.o-custom-atividade {
  position: relative;
  font-family: 'Roboto-Regular' !important;
  width: 90%;
  font-size: 16px !important;
  line-height: 1.5em !important;
}
.o-custom-atividade label.Mui-focused {
  color: #5C5C5C;
  font-size: 16px !important;
}
.o-custom-atividade.u-incorrect label {
  color: #BE2400;
}
.o-custom-atividade.u-correct label {
  color: #00912E;
}
.o-custom-atividade .MuiOutlinedInput-root.Mui-focused {
  border-color: yellow;
}
.o-custom-atividade .MuiOutlinedInput-root.Mui-focused > fieldset {
  border-color: #5C5C5C;
}
.u-number {
  position: absolute;
  color: #3185FC;
  font-size: 23px;
  font-family: 'RobotoCondensed-Bold';
  display: flex;
  top: 15px;
  left: 15px;
}
.o-text-center {
  text-align: center;
}
.App {
  text-align: center;
}
/* .App-logo {
    height: 40vmin;
    pointer-events: none;
  } */
/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.o-center {
  position: relative;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: inherit;
  max-width: 1366px;
}
.o-center {
  position: relative;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: inherit;
  max-width: 1104px;
}
.o-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: 'RobotoCondensed-Bold';
  color: #282544;
}
.o-title svg {
  margin-right: 20px;
}
.o-title-1 {
  font-size: 48px;
  font-family: 'OpenSans-Bold';
}
.o-title-2 {
  font-size: 34px;
  font-family: "OpenSans-Bold";
}
.o-title-3 {
  font-size: 40px;
  font-family: "OpenSans-SemiBold";
}
.o-title-3.purple {
  color: #282544;
}
.o-title-4 {
  font-size: 24px;
  font-family: "OpenSans-SemiBold";
}
.o-text-1 {
  font-family: 'Montserrat-Light';
  font-size: 36px;
}
.o-text-2 {
  font-family: 'RobotoCondensed-Bold';
  font-size: 18px;
}
.o-text-4 {
  font-family: 'Roboto-Regular';
  font-size: 16px;
}
.o-button {
  font-family: 'RobotoCondensed-Bold';
  font-size: 34;
}
.o-btn {
  text-transform: capitalize !important;
}
.o-btn.green {
  background-color: #32C35B !important;
  color: #F9F9F9 !important;
}
.o-btn.green:hover {
  color: #DADADA !important;
  background-color: #00912E !important;
}
.o-btn.blue {
  background-color: #3185FC !important;
  color: #F9F9F9 !important;
}
.o-btn.blue:hover {
  color: #DADADA !important;
  background-color: #0059C8 !important;
}
.o-btn.gray {
  background-color: #F9F9F9 !important;
  color: #3185FC !important;
}
.o-btn.gray:hover {
  color: #0059C8 !important;
  background-color: #DADADA !important;
}
.o-background-gray {
  background-color: #ffffff;
}
.o-background-blue {
  background-color: #3185FC;
}
.c-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.c-header a {
  display: flex;
}
.c-header img {
  width: 85%;
}
.c-header .c-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 35%;
}
.c-header .c-links a {
  font-family: 'RobotoCondensed-Bold';
  font-size: 25px;
}
.c-banner .o-title-1 {
  color: #F9F9F9;
  padding-bottom: 10%;
}
.c-banner p {
  display: flex;
  color: #F9F9F9;
}
.c-banner .o-btn {
  margin-top: 5%;
}
.c-ambiente .o-title-2 {
  color: #32C35B;
  padding-bottom: 5%;
}
.c-ambiente p {
  padding-right: 30%;
}
.c-boxes-home .MuiGrid-item {
  padding: 0 30px;
}
.c-boxes-home p {
  text-align: justify;
  padding-top: 15%;
  font-size: 20px;
}
.o-main {
  margin-left: 2%;
  width: 78%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.o-main-2 {
  margin-left: 2%;
  width: 58%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.o-main-2 .c-area-gray {
  background-color: #F9F9F9;
  border-radius: 15px;
  padding: 2%;
  margin: 0 4%;
}
.o-main-2 .o-area-img {
  position: relative;
  text-align: center;
}
.o-main-2 .o-area-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.o-main-2 h1,
.o-main-2 h2 {
  color: #282544;
}
.o-breadcrumb {
  display: flex;
  justify-content: space-between;
}
.o-breadcrumb h1 {
  text-transform: capitalize;
  font-family: 'OpenSans-SemiBold';
  color: #282544;
}
.o-breadcrumb h2 {
  font-family: 'OpenSans-SemiBold';
  text-transform: capitalize;
  color: #282544;
}
.o-content-fundo {
  border-radius: 15px;
  padding: 22px;
  margin-right: 6.17%;
}
.o-content-fundo.o-gray {
  background-color: #F9F9F9;
}
.o-content-fundo.o-white {
  background-color: #ffffff;
}
.o-content-fundo .o-inside {
  padding: 15px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.o-content-fundo .o-inside .o-btn {
  margin: 25px auto;
  text-transform: initial !important;
}
.o-content-fundo .o-inside::-webkit-scrollbar,
.o-content-fundo .o-inside::-moz-scrollbar {
  width: 11px;
}
.o-content-fundo .o-inside.o-purple {
  scrollbar-color: #282544 #F9F9F9;
}
.o-content-fundo .o-inside.o-purple::-webkit-scrollbar-track,
.o-content-fundo .o-inside.o-purple::-moz-track {
  background: #F9F9F9;
}
.o-content-fundo .o-inside.o-purple::-webkit-scrollbar-thumb,
.o-content-fundo .o-inside.o-purple::-moz-thumb {
  background-color: #282544;
  border-radius: 6px;
  border: 3px solid #F9F9F9;
}
.o-content-fundo .o-inside.o-blue {
  scrollbar-color: #3185FC #ffffff;
}
.o-content-fundo .o-inside.o-blue::-webkit-scrollbar-track,
.o-content-fundo .o-inside.o-blue::-moz-track {
  background: #3185FC;
}
.o-content-fundo .o-inside.o-blue::-webkit-scrollbar-thumb,
.o-content-fundo .o-inside.o-blue::-moz-thumb {
  background-color: #3185FC;
  border-radius: 6px;
  border: 3px solid #fff;
}
.o-position-button {
  position: absolute !important;
  right: 8%;
  bottom: 10%;
  display: flex;
}
.o-itens {
  flex-basis: 100%;
  display: flex;
}
.o-itens .o-item {
  font-family: 'RobotoCondensed-Bold';
  color: #0059C8;
  font-size: 18px;
}
.o-itens .o-item:first-child {
  padding-left: 4%;
}
.o-itens:hover {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  text-decoration: none;
}
.o-itens:hover .o-item {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  background-color: #3185FC;
  color: #fff;
}
.logoPreto {
  height: 50px;
  width: 150px;
  margin-right: 20px;
  margin-top: 15px;
}

.o-tamanho-tela-login {
  width: 500px;
}

.o-tamanho-modal-criacao {
  width: 500px;
}

.o-tamanho-botao-login {
  width: 150px;
}

.o-tamanho-input-modal {
  width: 100%;
}

.o-custom-cor-texto {
  color: #3185FC;
}
