.u-transition-ease-slow {
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
}
.o-scroll {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.o-scroll::-webkit-scrollbar,
.o-scroll::-moz-scrollbar {
  width: 11px;
}
.o-scroll.o-purple {
  scrollbar-color: #282544 #F9F9F9;
}
.o-scroll.o-purple::-webkit-scrollbar-track,
.o-scroll.o-purple::-moz-track {
  background: #F9F9F9;
}
.o-scroll.o-purple::-webkit-scrollbar-thumb,
.o-scroll.o-purple::-moz-thumb {
  background-color: #282544;
  border-radius: 6px;
  border: 3px solid #F9F9F9;
}
.o-scroll.o-blue {
  scrollbar-color: #3185FC #ffffff;
}
.o-scroll.o-blue::-webkit-scrollbar-track,
.o-scroll.o-blue::-moz-track {
  background: #3185FC;
}
.o-scroll.o-blue::-webkit-scrollbar-thumb,
.o-scroll.o-blue::-moz-thumb {
  background-color: #3185FC;
  border-radius: 6px;
  border: 3px solid #fff;
}
